.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  grid-template-areas: "team1 score team2";
  justify-items: center;

  .team1-button {
    grid-area: team1;
    background-color: #434fff;
    color: white;
    min-width: 120px;
    line-height: 45px;
  }

  .team2-button {
    grid-area: team2;
    background-color: #f2424f;
    color: white;
    min-width: 120px;
    line-height: 45px;
  }

  .score-grid {
    grid-area: score;
    display: inline-grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 1em;
    grid-template-areas: "team1Score scoreDivider team2Score";

    .team1-score {
      display: flex;
      grid-area: team1Score;
      justify-content: center;
      align-items: center;
    }

    .team2-score {
      display: flex;
      grid-area: team2Score;
      justify-content: center;
      align-items: center;
    }

    .score-divider {
      display: flex;
      grid-area: scoreDivider;
      justify-content: center;
      align-items: center;
    }

    .winner-score {
      color: #3ce643;
      font-weight: bold;
    }
  }

  .not-played-yet {
    grid-area: score;
  }

}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-gap: 1em;
    grid-template-areas:
      "score score"
      "team1 team2";
  }
}

@media (max-width: 370px) {
  .team1-button {
    font-size: 10px;
    min-width: 80px !important;
    line-height: 0 !important;

  }

  .team2-button {
    font-size: 10px;
    min-width: 80px !important;
    line-height: 0 !important;

  }
}


