<mat-sidenav-container fullscreen (panRight)="sidenav.open()" (panLeft)="sidenav.close()">
  <mat-sidenav #sidenav [mode]="sideNavMode" role="navigation" class="side-nav" [ngClass]="sideNavWidthClass">
    <mat-nav-list class="list">
      <a mat-list-item routerLink="/leaderboard" (click)="sideNavMode === 'push' ? sidenav.close() : null">
        <mat-icon class="icon">list</mat-icon>
        <span class="label">Scoreboard</span>
      </a>
      <a mat-list-item routerLink="/rounds" (click)="sideNavMode === 'push' ? sidenav.close() : null">
        <mat-icon class="icon">schedule</mat-icon>
        <span class="label">Rounds</span>
      </a>
      <a mat-list-item routerLink="/match-history" (click)="sideNavMode === 'push' ? sidenav.close() : null">
        <mat-icon class="icon">history</mat-icon>
        <span class="label">Match History</span>
      </a>
    </mat-nav-list>
    <p class="p-3">Version: {{version}}</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header mat-elevation-z5">
      <button mat-icon-button class="menu-button" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Weihnachts-Töggeli Turnier</span>
    </mat-toolbar>
    <main class="container">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

